{
    "$schema": "https://swc.nodejs.cn/schema.json",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "dynamicImport": false
        },
        "target": "es2017",
        "loose": true
    },
    "module": {
        "type": "commonjs"
    },
    "sourceMaps": false,
    "minify": true
}
