:root {
    --font-family-citizen-base:
        ui-sans-serif, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

.skin-citizen em {
    -webkit-text-emphasis: none !important;
    text-emphasis: none !important;
    font-style: italic !important;
}
